* {
	font-family:sans-serif;
}

body {
	background-color: #fafafa;
}

ul {
	background-color: green;
	border-radius: 8px;
}

li {
 	list-style-type: none;
	padding: 0 20px 0 20px;
	padding: 10px 20px 10px 20px;
	padding: 30px 20px;
} 

li a {
	text-decoration: none;
	color: red;
	color: #fff;
}

li:nth-child(2) a{
	color: blue;
}

li:last-child a {
	color: yellow;
}

li:first-child a {
	color:purple;
}

a {

}

.list {
	display: flex;
	justify-content: center;
}