@mixin Styles {
    display: flex;
    justify-content: center;
}

header {
    ul {
        @include Styles;
        display: flex;
        background-color: #000;
        li {
            @include Styles;
            color: #fff;
            &:nth-child(2) {
                @include Styles;
                background-color: red;
            }
        }
    }
}
