.Header {
    flex-basis: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0 3vw;
    h1 {
        align-self: center;
    }
    nav {
        align-self: center;
        display: flex;
        a {
            display: block;
            margin-left: 2vw;
            padding: 0.5vw 1vw;
            //
            font-size: 1.1rem;
            text-decoration: none;
            border: 2px solid transparent;
            &:hover,
            &.active {
                border-bottom: 2px solid #69696980;
            }
        }
    }
}
