.Main {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    aside {
        flex-basis: 20%;
        div {
            padding: 3% 10%;
            & * {
                border-bottom: 2px solid #6969694d;
                margin-bottom: 2vh;
            }
            h3 {
                text-transform: capitalize;
            }
        }
    }
}
