li {
    list-style: none;
}

/*
.grid-container {
    display: grid;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #0d233d;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container > li {
    margin: 10px 0;
    padding: 0.3rem;
    border-radius: 3px;
    font-size: 130%;
    font-weight: bold;
}

.item-1 {
    background-color: #aa2f26;
}

.item-2 {
    background-color: #01796f;
}

.item-3 {
    background-color: #1769aa;
} */

.container {
    padding: 30px;
    border-radius: 5px;
    background-color: #0d233d;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container > div {
    padding: 0.3em;
    border-radius: 3px;
    font-size: 130%;
    font-weight: bold;
}

.grid-container {
    display: grid;
    background-color: #b2a429;
}

.inline-grid-container {
    display: inline-grid;
    background-color: #aa2f26;
}

p {
    color: #f5f8f949;
}

.grid {
    display: grid;
    padding: 20px;
    background-color: #0d243f;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: 100px 10em 30%;
    grid-template-rows: 10em 100px 100px;
    grid-gap: 10px;
}

.grid li {
    padding: 0.3em;
    border-radius: 3px;
    background-color: #482880;
    color: #fff;
    font-size: 130%;
    font-weight: bold;
    text-align: center;
}

.grid li:nth-child(odd) {
    background-color: #1769aa;
}
