@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: rotateX(-100%);
    }
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
}

header {
    height: 500px;
    background: url("https://source.unsplash.com/NVHDSYqBZCE/1920x1080")
        no-repeat center #0f1384;
    background-color: #0f1384;
    color: #fff;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    animation: moveLeft 0.5s ease-out 0.3s backwards;
}

header h2 {
    font-size: 2em;
    animation: moveRight 0.5s ease-out 0.8s backwards;
}
